<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Age Calculator</title>
    <!-- Adding CSS -->
    <link rel="stylesheet" href="./../static/styles.css" />
    <!--Adding Goole fonts-->
    <!--Poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <!--Pacifico-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="container default-font">
        <h1 class="logo logo-font text-center">Age Calculator</h1>
        <form action="/calculate_age" method="POST" class="form">
            <div class="form-group">
                <label for="birthdate" class="form-label">Enter your birthdate (MM-DD-YYYY):</label>
                <input type="date" id="birthdate" name="birthdate" class="form-control" required />
            </div>
            <button type="submit" class="btn">Calculate Age</button>
        </form>
        <div class="result">
            {% if age is not none %}
            <h2 class="result-text">
                Your age is: <span class="age">{{ age }}</span> years
            </h2>
            {% endif %} {% if birthdate %}
            <p>Birthdate provided: {{ birthdate }}</p>
            {% endif %}
        </div>
    </div>
    <footer class="footer">
        <p class="footer-text">Developed by Sifat Raihan and Ahmed Elias</p>
    </footer>
</body>

</html>